#footer
  .span-1
    %a{ :id=>"rss", :type=>"application/rss+xml", :href=>"feed://blog.galleria-rdc.ch/rss", :alt => "rss" }
      = image_tag "feed-icon-20x20.png"
  .span-2
    %a{ :href=>"http://twitter.com/share", :class=>"twitter-share-button", :"data-count"=>"none" }
      Tweet
    %script{ :type=>"text/javascript", :src=>"http://platform.twitter.com/widgets.js" }
  .span-3
    %iframe{ :src=>"http://www.facebook.com/plugins/like.php?href=http%3a%2f%2fde-de.facebook.com%2fpages%2fgalleria-dart-rdc%2f137046719699949&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=dark&amp;height=21", :scrolling=>"no", :frameborder=>"0", :style=>"border:none; overflow:hidden; width:105px; height:21px;", :allowtransparency=>"true"}
  .span-10
    Rico de Castelberg | Via Alpsu 2 | 7180 Disentis/Mustér
  .span-6.last
    = image_tag "logo_bg_footer.gif"
%script{ :type => "text/javascript" }
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." :"http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
%script{ :type => "text/javascript" }
  var pageTracker = _gat._getTracker("UA-3739096-2");
  pageTracker._trackPageview();

