.portrait {
  .img {
    padding-top: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    @include retina-image('portrait', size(auto 80px), $extension: jpg, $asset-pipeline: true);
    @include grid-column(12);
  }
  .cv {
    padding-top: 3em;
    @include grid-column(12);
    ul { margin-left: 2em; };
  }
}

@media #{$small} {
  .portrait {
    .img { @include grid-column(4); }
    .cv { @include grid-column(8); }
  }
}
