#header-container {
  .banner {
    background-position: center;
    background-size: cover;

    .index    > & { background-image: image-url(image_path('banner/index.jpg')); }
    .aktuell  > & { background-image: image-url(image_path('banner/aktuell.jpg')); }
    .portrait > & { background-image: image-url(image_path('banner/portrait.jpg')); }
    .bilder   > & { background-image: image-url(image_path('banner/bilder.jpg')); }
    .tueren   > & { background-image: image-url(image_path('banner/tueren.jpg')); }
    .kontakt  > & { background-image: image-url(image_path('banner/kontakt.jpg')); }

    .logo-container {
      @include grid-row;
      .logo {
        margin-top: 2em;
        padding-top: 10%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: image-url(image_path('logo.svg'));
      }
    }
  }
}

.center {
  text-align: center !important;
}

#content-container, .footer {
  @include grid-row;
  padding-left: 1em;
  padding-right: 1em;
}

#content-container {
  padding-top: 2em;
  padding-bottom: 3em;
}

#footer-container {
  background-color: black;
  min-height: 3em;
  padding-top: 3em;
  padding-bottom: 5em;
  color: grey;
  .footer {
    .logo {
      height: 39px;
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      background-image: image-url(image_path('logo.svg'));
    }
  }
}

#header-container {
  .banner {
    .logo-container {
      .logo {
        @include grid-column(4);
}}}}

@media #{$small} {
  #header-container {
    .banner {
      .logo-container {
        .logo {
          @include grid-column(4, $offset: 8);
  }}}}
}
