@import "compass/css3/filter";

a {
  @include transition(all 0.3s);
}

#header-container {
  .banner {
    background-position: center;
    background-size: cover;

    .index    > & { background-image: image-url(image_path('banner/index.jpg')); }
    .aktuell  > & { background-image: image-url(image_path('banner/aktuell.jpg')); }
    .portrait > & { background-image: image-url(image_path('banner/portrait.jpg')); }
    .bilder   > & { background-image: image-url(image_path('banner/bilder.jpg')); }
    .tueren   > & { background-image: image-url(image_path('banner/tueren.jpg')); }
    .kontakt  > & { background-image: image-url(image_path('banner/kontakt.jpg')); }

    .logo-container {
      @include grid-row;
      .logo {
        margin-top: 2em;
        padding-top: 10%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: image-url(image_path('logo.svg'));
      }
    }
  }
}

.center {
  text-align: center !important;
}

#content-container, .footer {
  @include grid-row;
  padding-left: 1em;
  padding-right: 1em;
}

#content-container {
  padding-top: 2em;
  padding-bottom: 3em;
}

#footer-container {
  .footer {
    @include transition(opacity 0.3s);
    @include filter(grayscale(100%));
    opacity: 0.5;
  }
  &:hover .footer {
    opacity: 1;
    @include filter(grayscale(0%));
  }
}

#footer-container {
  background-color: black;
  min-height: 3em;
  padding-top: 3em;
  padding-bottom: 5em;
  color: grey;
  .footer {
    .social, .directions, .logo, .gs {
      @include grid-column(12);
      padding-bottom: 2em;
    }
    .social {
      iframe {
        margin: 0 0.3em;
      }
      text-align: center;
      span {
        display: inline-block;
      }
    }
    .directions {
      text-align: center;
    }
    .logo {
      .img {
        height: 39px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: image-url(image_path('logo.svg'));
      }
    }
    .gs {
      margin-top: 3em;
      .img {
        @include transition(all 0.3s);
        display: block;
        margin: 0 auto;
        background-repeat: no-repeat;
        @include image('gs', $height: true, $width: true);
        @include filter(grayscale(100%));
        opacity: 0.5;
        border-radius: 32px;
        box-shadow: #666 0 0 20px;
        border: 2px solid #999;
        &:hover {
          opacity: 1;
          @include filter(grayscale(0%));
        }
      }
    }
    .license {
      .cc-logo, .cc-text {
        padding-bottom: 0.8em;
        text-align: center;
        @include grid-column(12);
      }
    }
  }
}

#header-container {
  .banner {
    .logo-container {
      .logo {
        @include grid-column(4);
}}}}

@media #{$small} {
  #header-container {
    .banner {
      .logo-container {
        .logo {
          @include grid-column(4, $offset: 8);
  }}}}
  #footer-container {
    .footer {
      .social {
        @include grid-column(3);
      }
      .directions {
        text-align: center;
        @include grid-column(6);
      }
      .logo {
        @include grid-column(3);
      }
      .license {
        .cc-logo, .cc-text {
          text-align: inherit;
        }
        .cc-logo {
          @include grid-column(3);
        }
        .cc-text {
          @include grid-column(9);
        }
      }
    }
  }
}
