@import "compass/css3/filter";

.tueren {
  .tuer {
    @include grid-column(12);
    .no-touch &:hover img {
      @include filter(grayscale(20%));
    }
  }
  img {
    display: block;
    margin: 0 auto;
    .no-touch & {
      @include filter(grayscale(100%));
    }
  }
  .tuer {
    text-align: center;
  }
}

@media #{$small} {
  .tueren {
    .tuer {
      @include grid-column(3);
      &:nth-child(4n+5) {
        clear: left;
      }
    }
  }
}

