- @page_title = "T&uuml;ren / Escha"
- @nav_style = "nav4"

= partial 'shared/menu'

%script{ :type => "text/javascript", :charset => "utf-8" }
  $('#link_tueren').addClass('current');

#content
  = partial 'shared/gallery', :locals => { :folder => 'tueren' }

= partial 'shared/fancybox'
