%title
  = page_title
  
%meta{ :content => "selector", :name => "description", :content => "Galleria RdC - Die Galerie in Disentis/Mustér - La galeria a Disentis/Mustér" }
%meta{ :content => "galleria rdc Disentis/Mustér Disentis Rico de Castelberg", :name => "keywords",  }
%link{ :href => "favicon.ico", :rel => "shortcut icon" }
%link{ :href => "favicon.ico", :rel => "icon" }
%link{ :href => "images/favicon.png", :rel => "icon", :type => "image/png" }
%link{ :href => "http://blog.galleria-rdc.ch/rss", :title => "blog galleria rdc", :rel => "alternate", :type => "application/rss+xml" }
%meta{ :content => "text/html; charset=UTF-8", :"http-equiv" => "Content-Type" }

= stylesheet_link_tag 'site'
= javascript_include_tag 'lib/jquery-1.6.0.min'

