---
title: Ausstellung Olga Walder, Rabius
---

= image_tag 'blog/2012-11-28-ausstellung-olga-walder-rabius/teaser.jpg'

%h3.subheader
  mit Bildern aus den Jahren 2008 - 2012

= image_tag 'blog/2012-11-28-ausstellung-olga-walder-rabius/portrait.jpg'

%h3
  24. November 2012 bis 15. Januar 2013

%h4.subheader
  Die Ausstellung kann nach telefonischer Voranmeldung besichtigt werden
  %br
  Tel: 081 947 51 43
