---
title: Eindrücke Vernisage Lawrence McLaughlin & Mascha Mioni
---

- content_for :assets do
  = javascript_include_tag 'slideshow'

=image_tag 'aktuell/2009-12-05-eindruecke-vernisage/teaser.jpg'

%h4.subheader Einige Eindrücke der gelungenen Vernisage

.slides
  =image_tag 'aktuell/2009-12-05-eindruecke-vernisage/1.jpg'
  =image_tag 'aktuell/2009-12-05-eindruecke-vernisage/2.jpg'
  =image_tag 'aktuell/2009-12-05-eindruecke-vernisage/3.jpg'
  =image_tag 'aktuell/2009-12-05-eindruecke-vernisage/4.jpg'
  =image_tag 'aktuell/2009-12-05-eindruecke-vernisage/5.jpg'
  =image_tag 'aktuell/2009-12-05-eindruecke-vernisage/6.jpg'
  =image_tag 'aktuell/2009-12-05-eindruecke-vernisage/7.jpg'
