---
title: Eindrücke Vernissage Lawrence McLaughlin & Mascha Mioni
---

- content_for :assets do
  = javascript_include_tag 'slideshow'

=image_tag 'aktuell/2009-12-05-eindruecke-vernissage/teaser.jpg'

%h4.subheader Einige Eindrücke der gelungenen Vernissage

.slides
  =image_tag 'aktuell/2009-12-05-eindruecke-vernissage/1.jpg'
  =image_tag 'aktuell/2009-12-05-eindruecke-vernissage/2.jpg'
  =image_tag 'aktuell/2009-12-05-eindruecke-vernissage/3.jpg'
  =image_tag 'aktuell/2009-12-05-eindruecke-vernissage/4.jpg'
  =image_tag 'aktuell/2009-12-05-eindruecke-vernissage/5.jpg'
  =image_tag 'aktuell/2009-12-05-eindruecke-vernissage/6.jpg'
  =image_tag 'aktuell/2009-12-05-eindruecke-vernissage/7.jpg'
