---
title: Eröffnung/avertura
---

- content_for :assets do
  = javascript_include_tag 'slideshow'

.slides
  =image_tag 'aktuell/2009-08-04-eroeffnung/1.jpg'
  =image_tag 'aktuell/2009-08-04-eroeffnung/2.jpg'

READMORE

%h1.subheader Einladung
%p
  zur Eröffnung der neuen
  %strong
    galleria d'art RdeC
  mit der Eröffnungsausstellung mit Werken von

  %h2 Rico de Castelberg
  %h3.subheader
    Freitag, den 28. August 2009
    %br
    Beginn um 16.00h

  Sie und Ihre Freunde sind herzlich zu diesem Anlass eingeladen. Die
  Galerie befindet sich gleich neben dem Tourismus-Informationsbüro in
  der Dorfmitte.

%h2.subheader
  Programm
%dl.row
  %dt.columns.small-12.medium-3
    16:00h
  %dd.columns.small-12.medium-9
    Eröffnung der Ausstellung
  %dt.columns.small-12.medium-3
    16:30h
  %dd.columns.small-12.medium-9
    Eröffnungsansprache von Herrn Hanspeter Lebrument
    %br
    Verleger, Maienfeld
    %br
    Vorstellung des Künstlers und seines Werkes durch Herrn Gion Schwarz, Chur
    %br
    Die musikalische Einrahmung erfolgt durch den bekannten Romanischen
    Liedermacher Paulin Nuotclà, begleitet von Robert Stupan und Reini Schmid
  %dt.columns.small-12.medium-3
    Anschliessend
  %dd.columns.small-12.medium-9
    Fröhliches Beisammensein mit Musik, Speis und Trank solange es Spass macht.

%hr

%h1.subheader Invitaziun
%p
  all'avertura dalla nova
  %strong galleria d'art RdeC
  cun l'exposiziun da maletgs en relief da

  %h2 Rico de Castelberg
  %h3.subheader
    venderdis, ils 28 d'uost 2009
    %br
    entschatta allas 16.00h

%h2.subheader
  Program
%dl.row
  %dt.columns.small-12.medium-3
    16:00h
  %dd.columns.small-12.medium-9
    Avertura dalla exposiziun
  %dt.columns.small-12.medium-3
    16:30h
  %dd.columns.small-12.medium-9
    Plaid d'avertura entras
    %br
    Signur Hanspeter Lebrument
    %br
    editur, Maiavilla
    %br
    %br
    Presentaziun digl artist e sia ovra entras
    %br
    Signur Gion Schwarz, Cuera
    %br
    %br
    Enramaziun musicala entras igl enconuschent cantautur Romontsch
    %br
    Paulin Nuotclà, accumpignaus da
    %br
    Robert Stupan e Reini Schmid
  %dt.columns.small-12.medium-3
    Silsuenter
  %dd.columns.small-12.medium-9
    Star da buna cumpignia cun spisa e bubronda aschiditg ch'ei plai

