---
title: Rico de Castelberg expona a Trun
---

%h4.subheader Novitads Radiotelevisiun Svizra Rumantscha, 25-04-2011

%p
  =link_to 'http://www.rtr.ch/home/novitads/archiv/2011/04/17/Rico-de-Castelberg-expona-a-Trun.html' do
    = image_tag 'aktuell/2011-04-24-rico-de-castelberg-expona-a-trun/1.png'

%p
  =link_to 'Reportascha', image_path('aktuell/2011-04-24-rico-de-castelberg-expona-a-trun/reportascha.pdf')
