---
title: Vernissage “Cuort Ligia Grischa”, Trun
---

- content_for :assets do
  = javascript_include_tag 'slideshow'

=image_tag 'aktuell/2011-04-22-vernisage-cuort-ligia-grischa-trun/teaser.jpg'

%br

%p
  Einige Impressionen von der Vernissage vom 16. April in dem Museum Sursilvan “Cuort Ligia Grischa” in Trun. Die Ausstellung dauert bis zum 28. Mai 2011

%hr

%p
  Entginas impressiuns dalla vernissascha dils 16 d’Avrel el Museum Sursilvan “Cuort Ligia Grischa” a Trun. L’exposiziun cuoza entochen ils 28 da Matg 2011.

.slides
  =image_tag 'aktuell/2011-04-22-vernisage-cuort-ligia-grischa-trun/1.jpg'
  =image_tag 'aktuell/2011-04-22-vernisage-cuort-ligia-grischa-trun/2.jpg'
  =image_tag 'aktuell/2011-04-22-vernisage-cuort-ligia-grischa-trun/3.jpg'
  =image_tag 'aktuell/2011-04-22-vernisage-cuort-ligia-grischa-trun/4.jpg'
  =image_tag 'aktuell/2011-04-22-vernisage-cuort-ligia-grischa-trun/5.jpg'
  =image_tag 'aktuell/2011-04-22-vernisage-cuort-ligia-grischa-trun/6.jpg'
  =image_tag 'aktuell/2011-04-22-vernisage-cuort-ligia-grischa-trun/7.jpg'
  =image_tag 'aktuell/2011-04-22-vernisage-cuort-ligia-grischa-trun/8.jpg'
