---
title: Exposiziun / Ausstellung Cuort Ligia Grischa
---

%h3
  Rico de Castelberg
%h4.subheader
  Picturas / Bilder / Collagen

= image_tag 'aktuell/2011-03-09-exposiziun-ausstellung-cuort-ligia-grischa/1.jpg'

%h6.subheader
  alla vernissascha / zur Vernissage
%h6
  sonda, ils 16-04-2011, allas 17.00 
%h6.subheader
  essas Vus e Vos amitgs envidai cordialmein

%br

%h6
  Samstag, 16.04.2011, 17.00 Uhr 
%h6.subheader
  sind Sie und Ihre Freunde herzlich eingeladen

%h4.subheader
  introducziun/Einführung:
%h4
  Marianne Mittelholzer
%h4.subheader
  Kunstkritikerin, Wangen / ZH

%h6.subheader
  l’exposiziun cuoza / die Ausstellung dauert
  %br
  dils 16 d’avrel entochen ils 28 da matg 2011 
  %br
  vom 16. April bis zum 28. Mai 2011

= image_tag 'aktuell/2011-03-09-exposiziun-ausstellung-cuort-ligia-grischa/2.jpg'

%br

%h5
  Museum Sursilvan
  %br
  Cuort Ligia Grischa
  %br
  Via Principala 74
  %br
  7166 Trun

%h5.subheader
  uras d’avertura / Öffnungszeiten

%h6.subheader
  gliendisdis, mesjamna e sonda
  %br
  sco era la 2. e 4. dumengia dil meins
  %br
  dallas 14.00 entochen las 17.00 
  %br
  ni tenor cunvegnientscha 
  %br
  081 943 11 39

%h6.subheader
  Montag, Mittwoch und Samstag 
  %br
  sowie am 2. und 4. Sonntag im Monat 
  %br
  von 14.00 bis 17.00 Uhr 
  %br
  oder nach Vereinbarung 
  %br
  081 943 11 39
