---
title: Ausstellung Otto Mayer
---

=image_tag 'aktuell/2013-10-20-vernissage-otto-mayer/teaser.jpg'

READMORE

%h3
  Ausstellung Otto Mayer, Bilder & Skulpturen

%h4.subheader 
  Entgins maletgs dalla vernissascha.

%h4.subheader 
  Einige Bilder der Vernissage.

.slides
  =image_tag 'aktuell/2013-10-20-vernissage-otto-mayer/slides/0.jpg'
  =image_tag 'aktuell/2013-10-20-vernissage-otto-mayer/slides/1.jpg'
  =image_tag 'aktuell/2013-10-20-vernissage-otto-mayer/slides/2.jpg'
  =image_tag 'aktuell/2013-10-20-vernissage-otto-mayer/slides/3.jpg'
  =image_tag 'aktuell/2013-10-20-vernissage-otto-mayer/slides/4.jpg'
  =image_tag 'aktuell/2013-10-20-vernissage-otto-mayer/slides/5.jpg'
  =image_tag 'aktuell/2013-10-20-vernissage-otto-mayer/slides/6.jpg'
  =image_tag 'aktuell/2013-10-20-vernissage-otto-mayer/slides/7.jpg'
  =image_tag 'aktuell/2013-10-20-vernissage-otto-mayer/slides/8.jpg'
  =image_tag 'aktuell/2013-10-20-vernissage-otto-mayer/slides/9.jpg'
  =image_tag 'aktuell/2013-10-20-vernissage-otto-mayer/slides/10.jpg'

- content_for :assets do
  :coffeescript
    $(".slides").slidesjs
      width: 800
