---
title: Ausstellung Otto Mayer, Bilder & Skulpturen
tags: Ausstellung, Exposiziun, Maletgs, Bilder, Skulpturen
---

= image_tag 'aktuell/2013-10-04-ausstellung-otto-mayer/teaser.jpg'

READMORE

%h1.subheader Einladung
%h3.subheader
  zur Ausstellung

%h2 Otto Mayer
%h4 Bilder & Skulpturen

%h3.subheader
  Vom 19.10.2013 bis 20.01.2014
  %br
  Vernissage am 19.10.2013, von 16 bis 20 Uhr


%h5.subheader
  Besichtigung nach telefonischer Anmeldung unter: 0041 81 947 44 37

%hr

%h5.subheader
  Kontakte:
  %br
  =mail_to 'rico@galleria-rdc.ch', 'Rico de Castelberg'
  ++
  =link_to 'http://www.galleria-rdc.ch', 'galleria-rdc.ch'
  %br
  =mail_to 'otto_mayer@t-online.de', 'Otto Mayer'
  ++
  =link_to 'http://www.mayerotto.de', 'mayerotto.de'
