= topbar(contain_to_grid: true, sticky: true) do
  - right do
    - menu_item 'Aktuell', '/aktuell.html'
    - menu_item 'Portrait', '/portrait.html'
    - menu_item 'Bilder', '/bilder.html'
    - menu_item 'Türen', '/tueren.html'
    - menu_item 'Kontakt', '/kontakt.html'

