= topbar(contain_to_grid: true, sticky: true) do
  - right do
    - menu_item 'Aktuell', '/aktuell'
    - menu_item 'Portrait', '/portrait'
    - menu_item 'Bilder', '/bilder'
    - menu_item 'Türen', '/tueren'
    - menu_item 'Kontakt', '/kontakt'

