.bild
  .img
    =image_tag "bilder/picture-01.jpg"
  .caption
    %h2 Tagl d'aur
    %p
      Basrelief, Acryl
      %br
      Goldrahmen
      %br
      855x855mm
.bild
  .img
    =image_tag "bilder/picture-02.jpg"
  .caption
    %h2 Goldener Schnitt
    %p
      Basrelief, Acryl
      %br
      Goldrahmen
      %br
      96x96cm
.bild
  .img
    =image_tag "bilder/picture-03.jpg"
  .caption
    %h2 Metropolis
    %p
      mit Rotem Fluss
      %br
      Acryl
      %br
      64x64cm
.bild
  .img
    =image_tag "bilder/picture-04.jpg"
  .caption
    %h2 Metropolis METROPOLIS
    %p
      Acryl
      %br
      64x64cm
.bild
  .img
    =image_tag "bilder/picture-05.jpg"
  .caption
    %h2 Center
    %p
      Hochrelief
      %br
      61x61cm
.bild
  .img
    =image_tag "bilder/picture-06.jpg"
  .caption
    %h2 Miez plein A
    %p
      Basrelief, Jute, Acryl
      %br
      45x45cm
.bild
  .img
    =image_tag "bilder/picture-07.jpg"
  .caption
    %h2 Miez vit B
    %p
      Basrelief, Jute, Acryl
      %br
      45x45cm
.bild
  .img
    =image_tag "bilder/picture-08.jpg"
  .caption
    %h2 Tgau e tgil
    %p
      Basrelief, Acryl
      %br
      61x61cm
.bild
  .img
    =image_tag "bilder/picture-09.jpg"
  .caption
    %h2 Sguard el paradis
    %p
      (ausklappbar, geöffnet)
      %br
      Basrelief
      %br
      836x836mm
.bild
  .img
    =image_tag "bilder/picture-10.jpg"
  .caption
    %h2 Anima
    %p
      Basrelief, Blattgold
      %br
      Acryl auf Holz
      %br
      82x82cm
.bild
  .img
    =image_tag "bilder/picture-11.jpg"
  .caption
    %h2 Ratio
    %p
      Basrelief, Blattgold
      %br
      Acryl auf Holz
      %br
      82x82cm
.bild
  .img
    =image_tag "bilder/picture-12.jpg"
  .caption
    %h2 Virgo
    %p
      Basrelief, Blattgold
      %br
      Acryl auf Holz
      %br
      83x83cm
