- @page_title = "Kontakt / Contact"
- @nav_style = "nav5"

= partial 'shared/menu'

%script{ :type => "text/javascript", :charset => "utf-8" }
  $('#link_kontakt').addClass('current');

#content
  .span-20.last
    %iframe{ :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://maps.google.ch/maps?f=q&amp;hl=rm&amp;q=Via+Alpsu+2,+7180+Disentis%2FMust%C3%A9r,+Surselva,+Grischun&amp;sll=46.742775,8.769377&amp;sspn=0.007249,0.017338&amp;ie=UTF8&amp;cd=1&amp;geocode=FZCryAIdcRuHAA&amp;g=Via+Alpsu+2,+7180+Disentis%2FMust%C3%A9r,+Surselva,+Grischun&amp;source=embed&amp;ll=46.712679,8.858585&amp;spn=0.003907,0.009613&amp;z=14&amp;iwloc=addr&amp;output=embed&amp;s=AARTsJrUOID0vzdNhNDlsSudV8phN4HlyQ", :frameborder => "0", :height => "350", :width => "700" }
    %br
    %small
      %a{ :href => "http://maps.google.ch/maps?f=q&amp;hl=rm&amp;q=Via+Alpsu+2,+7180+Disentis%2FMust%C3%A9r,+Surselva,+Grischun&amp;sll=46.742775,8.769377&amp;sspn=0.007249,0.017338&amp;ie=UTF8&amp;cd=1&amp;geocode=FZCryAIdcRuHAA&amp;g=Via+Alpsu+2,+7180+Disentis%2FMust%C3%A9r,+Surselva,+Grischun&amp;source=embed&amp;ll=46.712679,8.858585&amp;spn=0.003907,0.009613&amp;z=14&amp;iwloc=addr" }
        +
  #address.span-4.append-2
    %ul
      %li
        Rico de Castelberg
      %li
        Via Alpsu 2
      %li
        7180 Disentis/Must&eacute;r
      %li
        +41 (0) 81 947 51 43
      %li
        = mail_to 'rico@galleria-rdc.ch'
  .span-14.last
    %iframe{ :src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fde-de.facebook.com%2Fpages%2Fgalleria-dart-RdC%2F137046719699949&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=80", :scrolling=>"no", :frameborder=>"0", :style=>"border:none; overflow:hidden; width:450px; height:80px;", :allowTransparency=>"true" }

