- @page_title = "Portrait / Portret"
- @nav_style = "nav2"

= partial 'shared/menu'

%script{ :type => "text/javascript", :charset => "utf-8" }
  $('#link_portrait').addClass('current');

#content
  #portrait.span-8
    %img{ :src => "images/portrait.jpg", :alt => "portrait" }
  #cv.span-12.last
    %ul
      %li
        Geboren am 06. M&auml;rz 1945, B&uuml;rger von Disentis/Must&eacute;r
      %li
        Primar- und Sekundarschule in Disentis/Must&eacute;r
      %li
        Hochbauzeichnerlehre mit F&auml;higkeitsausweis in Z&uuml;rich 1965
      %li
        1967 Er&ouml;ffnung eines Architekturb&uuml;ros als selbstst&auml;ndiger Architekt. Planung und Ausf&uuml;hrung von 400 kleineren und gr&ouml;sseren Projekten
      %li
        Beteiligung am Fernkursus der "Famous Artist" f&uuml;r Gebrauchsgrafik und Illustration anfangs der 70er Jahre
      %li
        Verschiedene Werke von Kunst am Bau, vor allem T&uuml;rblattgestaltungen
      %li
        Auszeichnung "Die sch&ouml;ne Fassade" der Siegfried Keller AG 1984/85 f&uuml;r die Pizzeria Surselva in Disentis/Must&eacute;r
      %li
        Unz&auml;hlige Entw&uuml;rfe von Firmen-Logos, Korrespondenzdrucken, etc.
      %li
        Festlogos und Programmheftgestaltungen von S&auml;nger- und Musikfesten sowie anderen Grossanl&auml;ssen
      %li
        1994 Layout und Gestaltung des Fotobuches "Felix Huonder, 1886 - 1960" und Planung der dazugeh&ouml;rigen Ausstellung mit &uuml;ber 170 Fotografien des Fotografen Felix Huonder
      %li
        K&uuml;nstlerische Gestaltung von Ausstellungsst&auml;nden an der Regionalen Gewerbeschau EX in Disentis/Must&eacute;r
      %li
        Entw&uuml;rfe f&uuml;r die Wiederbelebung der Fasnachtsfiguren f&uuml;r die j&auml;hrliche Vorstellung der "Dertgira Nauscha" am Rosenmontag und Entwurf des entsprechenden Medalliensatzes (80er Jahre)
      %li
        2007 erste und erfolgreiche Bilderausstellung mit Flachrelierfs im Bener-Park in Chur
      %li
        Beteiligung an dem "Premi Cultural Paradies" 2007 und 2008 in Ftan
