.img
  =image_tag 'portrait.jpg'
.cv
  %ul
    %li
      Geboren am 06. März 1945, Bürger von Disentis/Mustér
    %li
      Primar- und Sekundarschule in Disentis/Mustér
    %li
      Hochbauzeichnerlehre mit Fähigkeitsausweis in Zürich 1965
    %li
      1967 Eröffnung eines Architekturbüros als selbstständiger Architekt. Planung und Ausführung von 400 kleineren und grösseren Projekten
    %li
      Beteiligung am Fernkursus der "Famous Artist" für Gebrauchsgrafik und Illustration anfangs der 70er Jahre
    %li
      Verschiedene Werke von Kunst am Bau, vor allem Türblattgestaltungen
    %li
      Auszeichnung "Die schöne Fassade" der Siegfried Keller AG 1984/85 für die Pizzeria Surselva in Disentis/Mustér
    %li
      Unzählige Entwürfe von Firmen-Logos, Korrespondenzdrucken, etc.
    %li
      Festlogos und Programmheftgestaltungen von Sänger- und Musikfesten sowie anderen Grossanlässen
    %li
      1994 Layout und Gestaltung des Fotobuches "Felix Huonder, 1886 - 1960" und Planung der dazugehörigen Ausstellung mit über 170 Fotografien des Fotografen Felix Huonder
    %li
      Künstlerische Gestaltung von Ausstellungsständen an der Regionalen Gewerbeschau EX in Disentis/Mustér
    %li
      Entwürfe für die Wiederbelebung der Fasnachtsfiguren für die jährliche Vorstellung der "Dertgira Nauscha" am Rosenmontag und Entwurf des entsprechenden Medalliensatzes (80er Jahre)
    %li
      2007 erste und erfolgreiche Bilderausstellung mit Flachrelierfs im Bener-Park in Chur
    %li
      Beteiligung an dem "Premi Cultural Paradies" 2007 und 2008 in Ftan
