.tuer
  .img
    =image_tag "tueren/picture-01.jpg"
  .caption
    %h2 Galaxia
    %p
      2007
.tuer
  .img
    =image_tag "tueren/picture-02.jpg"
  .caption
    %h2 Curriculum vitae
    %p
      1975
.tuer
  .img
    =image_tag "tueren/picture-03.jpg"
  .caption
    %h2 Helios I
    %p
      1975
.tuer
  .img
    =image_tag "tueren/picture-04.jpg"
  .caption
    %h2 Helios II
    %p
      1975
